*{
    margin: 0;
    padding: 0;
}
#container-content{
    max-width: 100vw;
    padding: 10px 10px 0 10px;
}
#container-header{
    min-width: 100%;
}
#container-header header{
    width:100% ;
    height: 100%;
}
#container-header header ul{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    list-style: none; /* убрать точки в списке*/
}
#container-header header ul li a{
    font-size: 30px;
    font-weight: 700; /*жирный штрифт*/
    text-decoration: none;/* убрать нижнее подчеркивание для точки*/
    }
#container-header header li{
    font-size: 20px;
}
#container-header header #logo img{
    width: 150px;
    height: 150px;
}
#container-main-info{
    padding: 40px 0 0 0 ;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
#container-main-info h1{
    font-size: 70px;
    padding: 0 0 50px 0;
}
#container-main-info h2{
    font-size: 50px;
    padding: 0 0 50px 0;
}
#container-main-info p{
    font-size: 25px;
    padding: 0 0 30px 0;
}
#container-main-info img{
    width: 500px;
}
#container-main-info ul{
    margin: 0 auto;
    list-style: none
}
#container-main-info ul li{
    font-size: 20px;
}
#container-other-info{
    padding: 30px;
}
#container-other-info h2{
    font-size: 50px;
    padding: 0 0 50px 0;
}
#container-other-info h3{
    font-size: 30px;
    padding: 0 0 50px 0;
}
#container-other-info p{
    font-size: 25px;
    padding: 0 0 20px 0;
}
#container-other-info #dignity{
    padding: 50px 0 0 0;
}
#container-other-info #dignity h3{
    font-size: 30px;
    padding: 0 0 30px 0;
}
#container-other-info #dignity ul{
    padding:  10px 0 0 50px;
}
#container-other-info #dignity ul li{
    font-size: 20px;
}
#container-other-info #limitations{
    padding: 50px 0 0 0;
}
#container-other-info #limitations h3{
    font-size: 30px;
    padding: 0 0 30px 0;
}
#container-other-info #limitations ul{
    padding:  10px 0 0 50px;
}
#container-other-info #limitations ul li{
    font-size: 20px;
}
#container-other-info #history-info{
    width: 100%;
    padding: 50px 0 0 0;
    text-align: center;
}
#container-other-info #history-info h3{
    font-size: 30px;
    padding: 0 0 50px 0;
}
#container-other-info #history-info p{
    font-size: 25px;
    padding: 0 0 20px 0;
}
#container-other-info #history-info img{
    width: 400px;
}