@font-face{
    font-family: "Lato";
    src: url("../fonts/Lato/Lato-Black.ttf");
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato';
    color: black;
}
#wrapper{
    max-width: 100vw;
    padding: 10px 20px;
}
header{
    width: 100%;
    display: flex;
}
#logo{
    width: 20%;
    background-color: aquamarine;
    height: 100px;
}
#about{
    width: 60%;
    background-color: blueviolet;
    height: 100px;
}
nav{
    width: 20%;
    background-color: chartreuse;
    height: 100px;
    display: flex;
}
#id1{
    min-width: 50%;
    height: 100px;
    background-color: rgb(56, 23, 23);
}
#id2{
    min-width: 50%;
    height: 100px;
    background-color: rgb(255, 0, 212);
}