
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: black;
}
#wrapper{
    max-width: 100vw;
    padding: 10px 20px;
}
header{
    width: 100%;
    display: flex;
    height: 100px;
    align-items: center; /* по средине оси ,оси радителя (высота попомал и средина) прочти ещё раз флексы,или тот ласт скриншот*/
    background-color: #f62525;
}
#logo{
    width: 20%;
    background-color: aquamarine;;
}
#about{
    width: 60%;
    background-color: blueviolet;
}
nav{
    width: 20%;
    background-color: chartreuse;
    display: flex;
}
menu{
    display: flex;
    width: 100%;
    align-items: center; /*тоже , так надо что бы все обьекти по одной оси были. А потом уже можна оступи добавить*/
}
menu li{
    min-width: 50%;
    background-color: rgb(56, 23, 23);
    margin: 0 20px;
}
menu li a{
    color: #f3f3f3;
}