@font-face{
    font-family: "Lato";
    src: url("../fonts/Lato/Lato-Black.ttf");
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato';
    color: black;
}
#wrapper{
    max-width: 100vw;
    padding: 10px 20px;
}
#header-container{
    min-width: 100%;
}
header{
    height: 68px;
    border-radius: 20px;
    border: 1px solid rgb(199, 191, 191);
    box-shadow: 0px 10px 10px 0px rgb(196, 191, 191);
}
menu{
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
}
menu li{
    padding: 19px 10px;
}
menu li a{
    font-size: 25px;
}
#content-container{
    min-width: 100%;
    margin: 50px 0 0 0;
}
#main-info-container{
    text-align: center;
}
#main-info-container h1{
    font-size: 50px;
    padding: 25px;
}
#main-info-container p{
    font-size: 30px;
    font-style: italic;
}
#main-info-container img{
    margin: 0 auto;
    padding: 100px 10px;
}
#main-info-container #circle{
    margin: 0 auto;
    padding: 100px 10px;
    border-radius: 50%;
}
#ask-form-container{
    width: 100%;
}
#ask-form-container #ask{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 40px 5px;
}
#ask-form-container #ask h4{
    font-size: 25px;
}
#ask-form-container #ask label{
    font-size: 25px;
    padding: 10px 10px;
}
#forms-container{
    width: 100%;
    padding: 40px 5px;
}
#forms-container #contact{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    box-shadow: 1px 1px 10px 1px grey;
    padding: 30px 100px 200px 100px;
}
#forms-container #contact h3{
    font-size: 30px;
    text-align: center;
}
#forms-container  #contact input{
    margin: 20px 0 20px 0;
    padding: 10px;
    font-size: 20px;
    border-radius: 30px;
}
#forms-container  #contact textarea{
    margin: 10px 0 10px 0;
    padding: 10px;
    font-size: 20px;
    border-radius: 30px;
}